<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8">
  <title>注册</title>
  <link rel="stylesheet" href="../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../res/css/global.css">
  <!-- 引入jquery js -->
  <script src="../../res/js/jquery.min.js"></script>
  <!-- 提示框css 文件-->
  <link rel="stylesheet" href="../res/css/PromptBox.css">

  <script>
    //发送邮箱验证码请求
    function vercodebutton() {
      var email = $("#email1").val();
      if (email == ""){
        $('.alert').html('邮箱名为空').addClass('alert-success').show().delay(1500).fadeOut();
        return false;
      }
      $.ajax({
        url:"/user/sentemailcode",
        type:"get",
        data: { email: email},
        success:function (data) {
          var head = data.substring(0,15);
          if (head == "<!DOCTYPE html>") {
            $('.alert').html("注册成功").addClass('alert-success').show().delay(1500).fadeOut();
            //直接在当前页面打开URL页面
            window.location.href = "/index";
          }else {
            $('.alert').html(data).addClass('alert-success').show().delay(1500).fadeOut();
            return false;
          }
        }
      });
    }

    //发起注册请求
    function sendregistered() {

      var username  = $("#username").val();
      var  password = $("#password").val();
      var  password2 = $("#password2").val();
      var   mailbox  = $("#email1").val();
      var   code    = $("#emailcode").val()
      // alert(username);
      // alert(password);
      // alert(password2);
      // alert(mailbox);
      // alert(code);
      if(password != password2){
        $('.alert').html("两次密码不相同").addClass('alert-success').show().delay(1500).fadeOut();
        return false;
      }
      $.ajax({
        url:"/user/registereduser",
        type:"post",
        data:{username:username,password:password,mailbox:mailbox,code:code},
        // data: JSON.stringify(user),
        // contentType:'application/json',
        success:function (data) {
          // alert(data)
          var head = data.substring(0,15);
          if (head == "<!DOCTYPE html>"){
            $('.alert').html("注册成功").addClass('alert-success').show().delay(1500).fadeOut();
            //直接在当前页面打开URL页面
            window.location.href = "/index";
          }
          else{
            $('.alert').html(data).addClass('alert-success').show().delay(1500).fadeOut();
          }
        },
        error: function (err) {   //ajax请求失败时返回   返回的err是一个对象
          alert("错误"+err);
          $("#registeredmsg").html(err);
        }
      });
    }
  </script>
</head>
<body>

<div class="fly-header layui-bg-black" th:replace="index::commtop"></div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="/user/login">登入</a></li>
        <li class="layui-this">注册</li>
        <li><a href="/user/forget">找回密码</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <div>
              <div class="layui-form-item">
                <label for="email1" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="email1" name="email" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">将会成为您唯一的登入名</div>
              </div>
              <div class="layui-form-item">
                <label for="username" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="username" name="username" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="password" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="pass" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="password2" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password2" name="repass"  autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label for="emailcode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text"
                         autocomplete="off" class="layui-input"
                         id="emailcode">
                </div>
              </div>

              <div class="layui-form-item">
                <button  class="layui-btn" onclick="vercodebutton()">发送验证码</button>
                <button  class="layui-btn" onclick="sendregistered()">立即注册</button>
              </div>

              <div class="layui-form-item fly-form-app">
                <span>或者直接使用社交账号快捷注册</span>
                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
              </div>
              <div class="alert"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="fly-footer" th:replace="index::footer"></div>

<script src="../../res/layui/layui.js"></script>
<script>
  layui.cache.page = 'user';
  layui.cache.user = {
    username: '游客'
    ,uid: -1
    ,avatar: '../../res/images/avatar/00.jpg'
    ,experience: 83
    ,sex: '男'
  };
  layui.config({
    version: "3.0.0"
    ,base: '../../res/mods/'
  }).extend({
    fly: 'index'
  }).use('fly');
</script>

</body>
</html>